<div class="sidebar_promo">
<div class="sidebar_promo__container">
{{ content.field_image }}
<div class="copy">
<div class="copy__container">
<div class="copy__header">
<h3>{{ label }}</h3>
</div>
<div class="copy__body">
{{ content.body }}
{{ content.field_promo_link }}
</div>
</div><!--END .copy__container-->
</div><!--END .copy-->
</div><!--END .sidebar_promo__container-->
</div><!--END .sidebar_promo-->