{% for item in items %}
<a class="footer__social_icon" href="{{ item.content }}" title="Polar Caves Facebook" target="_blank">
<i class="fa fa-facebook-square" aria-hidden="true"></i>
</a>
{% endfor %}