{% for item in items %}
    <div class="social__icon">
        <a href="{{ item.content }}" target="_blank">
            <i class="fa fa-youtube-square" aria-hidden="true"></i>
        </a>
    </div>
{% endfor %}