<div class="owl-carousel owl-carousel--listings">
{% for item in items %}
{{ item.content }}
{% endfor %}
</div>
<div class="listings__nav">
<a class="listings__nav_link listings__nav_link--left">
<img class="listings__nav_link_image" src="/themes/template_site/i/arrows/chevron--left_white.svg" />
</a>
<a class="listings__nav_link listings__nav_link--right">
<img class="listings__nav_link_image" src="/themes/template_site/i/arrows/chevron--right_white.svg" />
</a>
</div>
</div>
</div><!--END .listings-->