<div class="breadcrumbs">
    <div class="global_width">
        <div class="breadcrumb_container">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>
