<div class="footer__column footer__column--right">

    {#-------#}
    {# Title #}
    {#-------#}
    {{ content.field_display_title }}

    {#------#}
    {# Body #}
    {#------#}
    {{ content.body }}

    {#------#}
    {# Menu #}
    {#------#}
    {{ quicklinks }}

</div>