{#-------------#}
{# Header Logo #}
{#-------------#}
<div class="logo-container">
    <a class="logo-container_inner" href="/">
        {% block content %}
            {{ content }}
        {% endblock %}
    </a>
</div>

{#--------------------#}
{# Mobile Menu Toggle #}
{#--------------------#}
<div class="mobileBtnWrapper">
    <a href="#menu" class="mainMenuToggle fa-bars"></a>
</div>

