
	<div class="footer">
		<div class="footer__container footer__container--upper">
			<div class="footer__column_wrapper global_width">
				{{ content }}
			</div>
		</div>

		<div class = "footer__container footer__container--lower">
        	{{ footerMenu }}
		</div>
	</div>

