<div class="navigation">
<div id="generalNav">
<div class="navContainer">
<div class="navInnerContainer">

{#---------------#}
{# Logo and Menu #}
{#---------------#}
{{ content }}

</div>
</div>
</div>
</div><!--"END .navigation"-->