<div class="panel panel--02">
<a href="{{ remove_comments(content.field_link|render)|trim }}" class="panel__logo_container" target="_blank">
<img class="panel__logo" src="{{ remove_comments(content.field_image|render)|trim }}">
</a>
</div>