<div class="sidebar_newsletter">
<div class="sidebar_newsletter__container">
<div class="sidebar_newsletter__header">
<h3 class="sidebar_newsletter__title">Sign up for Our Newsletter</h3>
</div>
<div class="sidebar_newsletter__copy">
<p class="sidebar_newsletter__body">Sign up for updates and promotions!</p>
</div>
<form{{ attributes }}>
  {{ children }}
</form>

</div>
</div>